.container {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    border-top: 0.1rem solid var(--neutral-200);
    position: relative;
}

.container:last-child {
    border-bottom: 0.1rem solid var(--neutral-200);
    margin-bottom: 5rem;
}

.name {
    font-size: 0.8rem;
}

.status {
    position: absolute;
    left: 19rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--neutral-200);
}

.completion-date {
    position: absolute;
    left: 33.25rem;
}

.issuing-makerspace-name {
    position: absolute;
    left: 53rem;
}

.quick-approve {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 77rem;
}

.approve {
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    border: 0.1rem solid var(--navy-blue);
    color: var(--navy-blue);
    cursor: pointer;
    background: none;
    margin-right: 0.5rem;
    font-weight: 600;
}

.deny {
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    border: 0.1rem solid rgb(185, 0, 0);
    color: rgb(185, 0, 0);
    cursor: pointer;
    background: none;
    font-weight: 600;
}