.container {
    padding-inline: 10rem;
    margin-bottom: 5rem;
}

.main-heading {
    font-size: 2.5rem;
    font-weight: 500;
}

.column-names {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem 0 1.5rem 0;
}

.column-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-inline: 10rem;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75vw;
    margin-top: 3rem;
    padding: 0 1rem;
    border-radius: 0.25rem;
    border: 1px solid #000;
}

.text-field {
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem 0.5rem;
}

.num-results {
    text-align: center;
    margin: 3rem 0 2rem 0;
}

.more-results-button {
    display: block;
    margin: 0 auto;
    background-color: var(--arb-blue);
    border: none;
    color: #fff;
    padding: 0.75rem 1.25rem;
    border-radius: 1.5rem;
}

.more-results-button:hover {
    background-color: #336eb6;
}

.more-results-button:active {
    background-color: #2b5c97;
}

.no-results-message {
    text-align: center;
    margin-top: 5rem;
}