.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.1));
    border-radius: 1rem;
    text-decoration: none;
    color: #000;
}

.location {
    margin: 0.3rem 0 1.25rem 0;
}

.name {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.card-text {
    padding: 0.5rem 3rem 3rem 3rem;
}

.card-image {
    border-radius: 1rem 1rem 0 0;
}