.container {
    padding: 1.5rem 5rem;
}

.top-bar {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.top-bar > * {
    margin-right: 2rem;
}

.map-container {
    margin-top: 2rem;
    height: 90vh;
    width: 100%;
    background-color: lightgrey;
}

.reset-button {
    background-color: var(--arb-blue);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
}

.reset-button:hover {
    background-color: #336eb6;
}

.reset-button:active {
    background-color: #2b5c97;
}

.tutorial-button {
    background: none;
    border: 0.1rem solid #767676;
    color: #767676;
    padding: 0.35rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.tutorial-button:hover {
    color: #929292;
    border-color: #929292;
}

.tutorial-button:active {
    color: #575757;
    border-color: #575757;
}