.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1.35rem 4rem;
    background-color: #00274C;
    color: #fff;
}

.tabs {
    align-self: flex-end;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab {
    position: relative;
    margin-inline: 2rem;
}

.tab-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-button .expand, .tab-button.active .collapse {
    display: inline;
}

.tab-button.active .expand, .tab-button .collapse {
    display: none;
}

.hover-line {
    width: 100%;
    border-top: 0.1rem solid var(--arb-blue);
    position: absolute;
    display: none;
    animation-name: slide-in;
    animation-duration: 0.5s;
}

@keyframes slide-in {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.tab-button:hover + .hover-line {
    display: block;
}

.tab-button:focus + .hover-line {
    display: block;
    border-color: #fff;
}

.tab-link {
    text-decoration: none;
    color: #fff;
}

.tab-link:hover + .hover-line {
    display: block;
}

.tab-link:focus + .hover-line {
    display: block;
    border-color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo-image {
    width: 25rem;
}

.logo-heading {
    margin-left: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
}

.profile {
    position: relative;
}

.profile-photo {
    width: 5rem;
    clip-path: circle(35%);
}

.profile-name {
    margin-top: 0.25rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.profile-email {
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.dropdown {
    position: absolute;
    background-color: #fff;
    color: var(--text-color);
    filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.1));
    max-height: 0;
    overflow: hidden;
    z-index: 3;
}

.tab-button.active + .hover-line + .dropdown {
    max-height: none;
}

.profile-photo.active + .dropdown {
    max-height: none;
    transform: translateX(-7rem);
    border-radius: 1rem;
}

.dropdown-option {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.dropdown-option:hover {
    background-color: var(--neutral-100);
}

.dropdown-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
}

.sign-out-button {
    background-color: var(--arb-blue);
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    color: #fff;
    margin-top: 1rem;
}

.sign-out-button:hover {
    background-color: #336eb6;
}

.sign-out-button:active {
    background-color: #2b5c97;
}