.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem 2rem 2rem;
    background-color: #00274C;
    color: #fff;
}

.tabs {
    align-self: flex-end;
    margin-right: 3rem;
}

.tab {
    text-decoration: none;
    color: #fff;
    margin-inline: 2rem;
}

.logo * {
    font-weight: 500;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    width: 5rem;
    clip-path: circle(35%);
}

.profile-email {
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}