.container {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    border-top: 0.1rem solid var(--neutral-200);
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
}

.container:last-child {
    border-bottom: 0.1rem solid var(--neutral-200);
}

.name {
    margin-left: 10rem;
    position: relative;
}

.uniqname {
    position: absolute;
    left: 33.5rem;
}

.roles {
    display: flex;
    align-items: center;
    position: absolute;
    left: 59rem;
}

.role {
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
    border: 0.1rem solid var(--neutral-200);
    margin-right: 0.75rem;
}