@import './fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', Avenir, Helvetica, Arial, sans-serif;
  --main-bg-color: #fff;
  --text-color: #000;
  --navy-blue: #00274C;
  --maize: #FFCB05;
  --arb-blue: #2F65A7;
  --angell-ash: #989C97;
  --neutral-100: #F3F4F6;
  --neutral-200: #D1D5DC;
  --neutral-300: #99A1AF;
  --neutral-400: #6A7282;
}

#root {
  min-height: 100vh;
}


button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}